<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
</head>

<body>

<div th:fragment="header">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/users}">Usuários</a></li>
                    <li><a th:href="@{/users/add}">Novo Usuário</a></li>
                </ul>
            </div>
        </div>
    </nav>

</div>

</body>

</html>